In [3]:
import pandas as pd 
import numpy as np

# ***DATA SOURCE***

In [4]:
scmd = pd.read_excel("Sosmed Analysis.xlsx")
scmd

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
0,Januari,2019-01-01 19:22:27,Orange_id,INSTAGRAM,carousel,282.0,4.0,ORGANIC,286,3732.0,7367.0,1.0,287,NaN
1,Januari,2019-01-02 17:54:18,Orange_id,INSTAGRAM,video,158.0,2.0,ORGANIC,160,3407.0,4696.0,11.0,171,1110.0
2,Januari,2019-01-03 14:37:55,Orange_id,INSTAGRAM,carousel,346.0,11.0,ORGANIC,357,4607.0,8526.0,6.0,363,NaN
3,Januari,2019-01-04 17:42:28,Orange_id,INSTAGRAM,carousel,197.0,1.0,ORGANIC,198,3412.0,6446.0,11.0,209,NaN
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,Maret,2019-03-30 22:54:42,Strawberry Spot,INSTAGRAM,carousel,724.0,0.0,ORGANIC,724,7376.0,15795.0,0.0,724,NaN
450,Maret,2019-03-30 23:14:09,Strawberry Spot,INSTAGRAM,carousel,1228.0,7.0,ORGANIC,1235,10939.0,22935.0,4.0,1239,NaN
451,Maret,2019-03-31 12:48:52,Strawberry Spot,INSTAGRAM,video,382.0,2.0,ORGANIC,384,8316.0,11732.0,12.0,396,2277.0
452,Maret,2019-03-31 15:29:06,Strawberry Spot,INSTAGRAM,image,1338.0,8.0,ORGANIC,1346,22875.0,32000.0,121.0,1467,NaN
453,Maret,2019-03-31 18:08:15,Strawberry Spot,INSTAGRAM,image,1822.0,258.0,ORGANIC,2080,28525.0,40591.0,6.0,2086,NaN

In [5]:
scmd.columns

Index(['Month', 'Date', 'Profile Name', 'Channel', 'Content Type', 'Likes',
       'Comments', 'Labels', 'Interactions', 'Insights - Reach',
       'Insights - Impressions', 'Insights - Saves', 'Insights - Engagement',
       'Insights - Video Views'],
      dtype='object')

In [6]:
scmd.head(5)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
0,Januari,2019-01-01 19:22:27,Orange_id,INSTAGRAM,carousel,282.0,4.0,ORGANIC,286,3732.0,7367.0,1.0,287,NaN
1,Januari,2019-01-02 17:54:18,Orange_id,INSTAGRAM,video,158.0,2.0,ORGANIC,160,3407.0,4696.0,11.0,171,1110.0
2,Januari,2019-01-03 14:37:55,Orange_id,INSTAGRAM,carousel,346.0,11.0,ORGANIC,357,4607.0,8526.0,6.0,363,NaN
3,Januari,2019-01-04 17:42:28,Orange_id,INSTAGRAM,carousel,197.0,1.0,ORGANIC,198,3412.0,6446.0,11.0,209,NaN
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN

In [7]:
scmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   454 non-null    object
 1   Date                    454 non-null    datetime64[ns]
 2   Profile Name            454 non-null    object
 3   Channel                 454 non-null    object
 4   Content Type            453 non-null    object
 5   Likes                   453 non-null    float64
 6   Comments                453 non-null    float64
 7   Labels                  454 non-null    object
 8   Interactions            454 non-null    int64
 9   Insights - Reach        449 non-null    float64
 10  Insights - Impressions  449 non-null    float64
 11  Insights - Saves        449 non-null    float64
 12  Insights - Engagement   454 non-null    int64
 13  Insights - Video Views  60 non-null     float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(5)
memory usage: 49.8+ KB

In [8]:
scmd.isna().sum()

Month                       0
Date                        0
Profile Name                0
Channel                     0
Content Type                1
Likes                       1
Comments                    1
Labels                      0
Interactions                0
Insights - Reach            5
Insights - Impressions      5
Insights - Saves            5
Insights - Engagement       0
Insights - Video Views    394
dtype: int64

In [9]:
selected_columns = ['Month', 'Date', 'Profile Name', 'Channel', 'Content Type', 'Likes', 'Comments',
                     'Labels', 'Interactions', 'Insights - Reach', 'Insights - Impressions',
                     'Insights - Saves', 'Insights - Engagement']
empty_kol = scmd[selected_columns].isna().any(axis=1)
scmd[empty_kol]

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
9,Januari,2019-01-17 14:20:38,Orange_id,INSTAGRAM,carousel,93.0,1.0,ORGANIC,94,NaN,NaN,NaN,94,NaN
40,Maret,2019-03-02 15:12:20,Orange_id,INSTAGRAM,NaN,NaN,NaN,ORGANIC,0,0.0,0.0,0.0,0,NaN
71,Maret,2019-03-30 17:38:25,Orange_id,INSTAGRAM,video,23.0,2.0,ORGANIC,25,NaN,NaN,NaN,25,NaN
117,Januari,2019-01-11 12:01:59,Strawberry Spot,INSTAGRAM,image,3.0,0.0,ORGANIC,3,NaN,NaN,NaN,3,NaN
125,Januari,2019-01-12 18:00:01,Strawberry Spot,INSTAGRAM,image,89.0,0.0,ORGANIC,89,NaN,NaN,NaN,89,NaN
421,Maret,2019-03-26 11:18:08,Strawberry Spot,INSTAGRAM,video,14.0,0.0,ORGANIC,14,NaN,NaN,NaN,14,NaN

In [10]:
scmd["Channel"].unique()

array(['INSTAGRAM'], dtype=object)

In [11]:
scmd["Profile Name"].unique()

array(['Orange_id', 'Strawberry Spot'], dtype=object)

In [12]:
scmd["Likes"].mean()

1022.0860927152318

In [13]:
scmd["Insights - Engagement"].mean()

1085.0969162995596

In [14]:
scmd.dropna(subset=['Likes', 'Comments','Insights - Reach', 'Insights - Impressions',
                     'Insights - Saves'],inplace=True)
scmd.isna().sum()

Month                       0
Date                        0
Profile Name                0
Channel                     0
Content Type                0
Likes                       0
Comments                    0
Labels                      0
Interactions                0
Insights - Reach            0
Insights - Impressions      0
Insights - Saves            0
Insights - Engagement       0
Insights - Video Views    388
dtype: int64

In [15]:
organic_post = scmd[scmd["Labels"] == "ORGANIC"]
organic_post

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
0,Januari,2019-01-01 19:22:27,Orange_id,INSTAGRAM,carousel,282.0,4.0,ORGANIC,286,3732.0,7367.0,1.0,287,NaN
1,Januari,2019-01-02 17:54:18,Orange_id,INSTAGRAM,video,158.0,2.0,ORGANIC,160,3407.0,4696.0,11.0,171,1110.0
2,Januari,2019-01-03 14:37:55,Orange_id,INSTAGRAM,carousel,346.0,11.0,ORGANIC,357,4607.0,8526.0,6.0,363,NaN
3,Januari,2019-01-04 17:42:28,Orange_id,INSTAGRAM,carousel,197.0,1.0,ORGANIC,198,3412.0,6446.0,11.0,209,NaN
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,Maret,2019-03-30 22:54:42,Strawberry Spot,INSTAGRAM,carousel,724.0,0.0,ORGANIC,724,7376.0,15795.0,0.0,724,NaN
450,Maret,2019-03-30 23:14:09,Strawberry Spot,INSTAGRAM,carousel,1228.0,7.0,ORGANIC,1235,10939.0,22935.0,4.0,1239,NaN
451,Maret,2019-03-31 12:48:52,Strawberry Spot,INSTAGRAM,video,382.0,2.0,ORGANIC,384,8316.0,11732.0,12.0,396,2277.0
452,Maret,2019-03-31 15:29:06,Strawberry Spot,INSTAGRAM,image,1338.0,8.0,ORGANIC,1346,22875.0,32000.0,121.0,1467,NaN
453,Maret,2019-03-31 18:08:15,Strawberry Spot,INSTAGRAM,image,1822.0,258.0,ORGANIC,2080,28525.0,40591.0,6.0,2086,NaN

In [16]:
organic_post.isna().sum()

Month                       0
Date                        0
Profile Name                0
Channel                     0
Content Type                0
Likes                       0
Comments                    0
Labels                      0
Interactions                0
Insights - Reach            0
Insights - Impressions      0
Insights - Saves            0
Insights - Engagement       0
Insights - Video Views    375
dtype: int64

In [17]:
prom_post = scmd[scmd["Labels"] == "PROMOTED"]
prom_post

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
8,Januari,2019-01-16 14:25:55,Orange_id,INSTAGRAM,carousel,871.0,69.0,PROMOTED,940,12128.0,22266.0,308.0,1248,NaN
11,Januari,2019-01-20 14:05:38,Orange_id,INSTAGRAM,image,673.0,18.0,PROMOTED,691,14393.0,19364.0,231.0,922,NaN
16,Januari,2019-01-31 17:25:00,Orange_id,INSTAGRAM,carousel,1078.0,42.0,PROMOTED,1120,10051.0,17633.0,83.0,1203,NaN
28,Februari,2019-02-19 15:01:11,Orange_id,INSTAGRAM,carousel,817.0,134.0,PROMOTED,951,11956.0,22460.0,100.0,1051,NaN
31,Februari,2019-02-23 12:55:32,Orange_id,INSTAGRAM,video,281.0,21.0,PROMOTED,302,6198.0,8203.0,34.0,336,2743.0
34,Februari,2019-02-28 17:33:36,Orange_id,INSTAGRAM,carousel,865.0,25.0,PROMOTED,890,11041.0,18824.0,37.0,927,NaN
56,Maret,2019-03-10 22:00:07,Orange_id,INSTAGRAM,image,570.0,115.0,PROMOTED,685,13506.0,20342.0,21.0,706,NaN
69,Maret,2019-03-29 15:33:17,Orange_id,INSTAGRAM,carousel,945.0,26.0,PROMOTED,971,8289.0,16206.0,26.0,997,NaN
119,Januari,2019-01-11 15:01:03,Strawberry Spot,INSTAGRAM,image,4249.0,474.0,PROMOTED,4723,53890.0,72425.0,31.0,4754,NaN
174,Januari,2019-01-24 19:30:01,Strawberry Spot,INSTAGRAM,image,4590.0,309.0,PROMOTED,4899,59950.0,77173.0,55.0,4954,NaN
195,Januari,2019-01-29 19:00:10,Strawberry Spot,INSTAGRAM,image,4089.0,37.0,PROMOTED,4126,64384.0,78107.0,112.0,4238,NaN
217,Februari,2019-02-04 10:50:29,Strawberry Spot,INSTAGRAM,image,12474.0,553.0,PROMOTED,13027,92165.0,129107.0,55.0,13081,NaN
389,Maret,2019-03-19 19:17:43,Strawberry Spot,INSTAGRAM,image,5862.0,234.0,PROMOTED,6096,59230.0,84651.0,74.0,6194,NaN
415,Maret,2019-03-24 18:00:02,Strawberry Spot,INSTAGRAM,image,7056.0,313.0,PROMOTED,7369,49640.0,79466.0,121.0,7639,NaN

In [18]:
prom_post.isna().sum()

Month                      0
Date                       0
Profile Name               0
Channel                    0
Content Type               0
Likes                      0
Comments                   0
Labels                     0
Interactions               0
Insights - Reach           0
Insights - Impressions     0
Insights - Saves           0
Insights - Engagement      0
Insights - Video Views    13
dtype: int64

In [19]:
Jeruk = scmd[scmd["Profile Name"] == "Orange_id"]
Berry = scmd[scmd["Profile Name"] == "Strawberry Spot"]

In [20]:
Jeruk["Date"].duplicated().sum()

0

In [21]:
Berry["Date"].duplicated().sum()

0

In [22]:
len(Jeruk)

72

In [23]:
len(Berry)

376

# ***ORANGE***

In [24]:
pd.DataFrame({"Engagement Mean" : Jeruk.groupby("Content Type")["Insights - Engagement"].mean().sort_values(ascending=False)})

              Engagement Mean
Content Type
image              471.200000
carousel           462.744681
video              172.700000

In [25]:
pd.DataFrame({"Reach Mean" : Jeruk.groupby("Content Type")["Insights - Reach"].mean().sort_values(ascending=False)})

               Reach Mean
Content Type
image         8469.800000
carousel      5359.829787
video         3556.300000

In [26]:
pd.DataFrame({"Percentage Engagement (%)": (Jeruk.groupby("Content Type")["Insights - Engagement"].sum() / Jeruk["Insights - Engagement"].sum()) * 100}).sort_values(by="Percentage Engagement (%)", ascending=False)

              Percentage Engagement (%)
Content Type
carousel                      78.917958
video                         12.533111
image                          8.548931

In [27]:
pd.DataFrame({"Percentage Reach (%)": (Jeruk.groupby("Content Type")["Insights - Reach"].sum() / Jeruk["Insights - Reach"].sum()) * 100}).sort_values(by="Percentage Reach (%)", ascending=False)

              Percentage Reach (%)
Content Type
carousel                 68.943887
video                    19.465936
image                    11.590177

In [28]:
pd.DataFrame(Jeruk.groupby("Content Type")["Insights - Engagement"].sum().sort_values(ascending=False))

              Insights - Engagement
Content Type
carousel                      21749
video                          3454
image                          2356

In [29]:
pd.DataFrame(Jeruk.groupby("Content Type")["Insights - Reach"].sum().sort_values(ascending=False))

              Insights - Reach
Content Type
carousel              251912.0
video                  71126.0
image                  42349.0

In [30]:
pd.DataFrame(Jeruk.value_counts("Content Type").sort_values(ascending=False))

              count
Content Type
carousel         47
video            20
image             5

In [31]:
Jeruk[Jeruk["Labels"] == "ORGANIC"].sort_values(by="Insights - Engagement",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
63,Maret,2019-03-20 19:25:44,Orange_id,INSTAGRAM,carousel,680.0,9.0,ORGANIC,689,7418.0,15518.0,160.0,849,NaN
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN
32,Februari,2019-02-26 14:19:43,Orange_id,INSTAGRAM,carousel,721.0,24.0,ORGANIC,745,6745.0,13521.0,17.0,762,NaN
17,Februari,2019-02-03 14:45:21,Orange_id,INSTAGRAM,carousel,658.0,36.0,ORGANIC,694,6168.0,12460.0,51.0,745,NaN
64,Maret,2019-03-21 17:45:47,Orange_id,INSTAGRAM,carousel,569.0,7.0,ORGANIC,576,7055.0,12336.0,70.0,646,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,Januari,2019-01-23 15:53:17,Orange_id,INSTAGRAM,video,115.0,8.0,ORGANIC,123,2421.0,3290.0,4.0,127,699.0
72,Maret,2019-03-30 19:30:59,Orange_id,INSTAGRAM,video,112.0,0.0,ORGANIC,112,2291.0,3364.0,15.0,127,729.0
35,Maret,2019-03-01 09:42:15,Orange_id,INSTAGRAM,video,118.0,1.0,ORGANIC,119,3739.0,5216.0,2.0,121,1361.0
68,Maret,2019-03-25 18:51:25,Orange_id,INSTAGRAM,image,119.0,1.0,ORGANIC,120,3345.0,4590.0,0.0,120,NaN
66,Maret,2019-03-24 16:23:42,Orange_id,INSTAGRAM,video,90.0,2.0,ORGANIC,92,2249.0,3353.0,2.0,94,646.0

In [32]:
Jeruk[Jeruk["Labels"] == "ORGANIC"].sort_values(by="Insights - Reach",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN
62,Maret,2019-03-20 16:04:35,Orange_id,INSTAGRAM,image,414.0,29.0,ORGANIC,443,8142.0,11554.0,26.0,469,NaN
58,Maret,2019-03-15 15:26:08,Orange_id,INSTAGRAM,carousel,588.0,5.0,ORGANIC,593,7514.0,13055.0,19.0,612,NaN
63,Maret,2019-03-20 19:25:44,Orange_id,INSTAGRAM,carousel,680.0,9.0,ORGANIC,689,7418.0,15518.0,160.0,849,NaN
64,Maret,2019-03-21 17:45:47,Orange_id,INSTAGRAM,carousel,569.0,7.0,ORGANIC,576,7055.0,12336.0,70.0,646,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,Maret,2019-03-07 17:17:13,Orange_id,INSTAGRAM,carousel,135.0,0.0,ORGANIC,135,2573.0,5221.0,10.0,145,NaN
19,Februari,2019-02-08 15:41:50,Orange_id,INSTAGRAM,carousel,168.0,0.0,ORGANIC,168,2491.0,4885.0,10.0,178,NaN
13,Januari,2019-01-23 15:53:17,Orange_id,INSTAGRAM,video,115.0,8.0,ORGANIC,123,2421.0,3290.0,4.0,127,699.0
72,Maret,2019-03-30 19:30:59,Orange_id,INSTAGRAM,video,112.0,0.0,ORGANIC,112,2291.0,3364.0,15.0,127,729.0
66,Maret,2019-03-24 16:23:42,Orange_id,INSTAGRAM,video,90.0,2.0,ORGANIC,92,2249.0,3353.0,2.0,94,646.0

In [33]:
Jeruk[Jeruk["Month"] == "Januari"].sort_values(by="Date",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
16,Januari,2019-01-31 17:25:00,Orange_id,INSTAGRAM,carousel,1078.0,42.0,PROMOTED,1120,10051.0,17633.0,83.0,1203,NaN
15,Januari,2019-01-29 18:14:55,Orange_id,INSTAGRAM,carousel,178.0,0.0,ORGANIC,178,2741.0,5152.0,27.0,205,NaN
14,Januari,2019-01-24 17:30:52,Orange_id,INSTAGRAM,carousel,277.0,6.0,ORGANIC,283,4090.0,7086.0,14.0,297,NaN
13,Januari,2019-01-23 15:53:17,Orange_id,INSTAGRAM,video,115.0,8.0,ORGANIC,123,2421.0,3290.0,4.0,127,699.0
12,Januari,2019-01-22 17:37:18,Orange_id,INSTAGRAM,video,140.0,1.0,ORGANIC,141,2800.0,3748.0,4.0,145,912.0
11,Januari,2019-01-20 14:05:38,Orange_id,INSTAGRAM,image,673.0,18.0,PROMOTED,691,14393.0,19364.0,231.0,922,NaN
10,Januari,2019-01-17 15:37:50,Orange_id,INSTAGRAM,carousel,388.0,7.0,ORGANIC,395,5121.0,8305.0,18.0,413,NaN
8,Januari,2019-01-16 14:25:55,Orange_id,INSTAGRAM,carousel,871.0,69.0,PROMOTED,940,12128.0,22266.0,308.0,1248,NaN
7,Januari,2019-01-15 19:32:43,Orange_id,INSTAGRAM,carousel,317.0,5.0,ORGANIC,322,4010.0,7951.0,58.0,380,NaN
6,Januari,2019-01-12 14:18:00,Orange_id,INSTAGRAM,carousel,505.0,54.0,ORGANIC,559,6685.0,13287.0,16.0,575,NaN
5,Januari,2019-01-10 18:18:03,Orange_id,INSTAGRAM,video,181.0,6.0,ORGANIC,187,3334.0,4399.0,9.0,196,849.0
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN
3,Januari,2019-01-04 17:42:28,Orange_id,INSTAGRAM,carousel,197.0,1.0,ORGANIC,198,3412.0,6446.0,11.0,209,NaN
2,Januari,2019-01-03 14:37:55,Orange_id,INSTAGRAM,carousel,346.0,11.0,ORGANIC,357,4607.0,8526.0,6.0,363,NaN
1,Januari,2019-01-02 17:54:18,Orange_id,INSTAGRAM,video,158.0,2.0,ORGANIC,160,3407.0,4696.0,11.0,171,1110.0
0,Januari,2019-01-01 19:22:27,Orange_id,INSTAGRAM,carousel,282.0,4.0,ORGANIC,286,3732.0,7367.0,1.0,287,NaN

In [34]:
Jeruk[Jeruk["Month"] == "Februari"].sort_values(by="Date",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
34,Februari,2019-02-28 17:33:36,Orange_id,INSTAGRAM,carousel,865.0,25.0,PROMOTED,890,11041.0,18824.0,37.0,927,NaN
33,Februari,2019-02-28 11:34:40,Orange_id,INSTAGRAM,video,187.0,3.0,ORGANIC,190,3860.0,5451.0,3.0,193,1501.0
32,Februari,2019-02-26 14:19:43,Orange_id,INSTAGRAM,carousel,721.0,24.0,ORGANIC,745,6745.0,13521.0,17.0,762,NaN
31,Februari,2019-02-23 12:55:32,Orange_id,INSTAGRAM,video,281.0,21.0,PROMOTED,302,6198.0,8203.0,34.0,336,2743.0
30,Februari,2019-02-22 14:28:33,Orange_id,INSTAGRAM,video,227.0,12.0,ORGANIC,239,4532.0,6151.0,4.0,243,2043.0
29,Februari,2019-02-20 14:54:20,Orange_id,INSTAGRAM,video,179.0,9.0,ORGANIC,188,3067.0,4301.0,6.0,194,1079.0
28,Februari,2019-02-19 15:01:11,Orange_id,INSTAGRAM,carousel,817.0,134.0,PROMOTED,951,11956.0,22460.0,100.0,1051,NaN
27,Februari,2019-02-14 19:19:33,Orange_id,INSTAGRAM,carousel,415.0,12.0,ORGANIC,427,5932.0,10086.0,45.0,472,NaN
26,Februari,2019-02-13 15:19:36,Orange_id,INSTAGRAM,carousel,303.0,6.0,ORGANIC,309,4487.0,7674.0,18.0,327,NaN
25,Februari,2019-02-12 17:02:52,Orange_id,INSTAGRAM,video,171.0,1.0,ORGANIC,172,2815.0,3761.0,8.0,180,1060.0
24,Februari,2019-02-11 19:39:34,Orange_id,INSTAGRAM,carousel,517.0,14.0,ORGANIC,531,4902.0,9117.0,3.0,534,NaN
23,Februari,2019-02-10 19:16:06,Orange_id,INSTAGRAM,carousel,544.0,14.0,ORGANIC,558,6805.0,11967.0,29.0,587,NaN
22,Februari,2019-02-10 15:34:53,Orange_id,INSTAGRAM,carousel,299.0,5.0,ORGANIC,304,3466.0,6558.0,1.0,305,NaN
21,Februari,2019-02-09 19:15:12,Orange_id,INSTAGRAM,video,139.0,0.0,ORGANIC,139,2719.0,3849.0,9.0,148,862.0
20,Februari,2019-02-08 19:28:56,Orange_id,INSTAGRAM,carousel,491.0,50.0,ORGANIC,541,6934.0,12686.0,15.0,556,NaN
19,Februari,2019-02-08 15:41:50,Orange_id,INSTAGRAM,carousel,168.0,0.0,ORGANIC,168,2491.0,4885.0,10.0,178,NaN
18,Februari,2019-02-04 16:15:47,Orange_id,INSTAGRAM,carousel,295.0,7.0,ORGANIC,302,3708.0,6931.0,4.0,306,NaN
17,Februari,2019-02-03 14:45:21,Orange_id,INSTAGRAM,carousel,658.0,36.0,ORGANIC,694,6168.0,12460.0,51.0,745,NaN

In [35]:
Jeruk[Jeruk["Month"] == "Maret"].sort_values(by="Date",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
74,Maret,2019-03-31 22:01:26,Orange_id,INSTAGRAM,carousel,362.0,43.0,ORGANIC,405,4425.0,9023.0,8.0,413,NaN
73,Maret,2019-03-31 13:39:03,Orange_id,INSTAGRAM,carousel,231.0,2.0,ORGANIC,233,3076.0,6133.0,3.0,236,NaN
72,Maret,2019-03-30 19:30:59,Orange_id,INSTAGRAM,video,112.0,0.0,ORGANIC,112,2291.0,3364.0,15.0,127,729.0
70,Maret,2019-03-29 19:15:30,Orange_id,INSTAGRAM,image,138.0,0.0,ORGANIC,138,2963.0,4190.0,1.0,139,NaN
69,Maret,2019-03-29 15:33:17,Orange_id,INSTAGRAM,carousel,945.0,26.0,PROMOTED,971,8289.0,16206.0,26.0,997,NaN
68,Maret,2019-03-25 18:51:25,Orange_id,INSTAGRAM,image,119.0,1.0,ORGANIC,120,3345.0,4590.0,0.0,120,NaN
67,Maret,2019-03-24 21:59:37,Orange_id,INSTAGRAM,carousel,367.0,43.0,ORGANIC,410,4588.0,10380.0,10.0,420,NaN
66,Maret,2019-03-24 16:23:42,Orange_id,INSTAGRAM,video,90.0,2.0,ORGANIC,92,2249.0,3353.0,2.0,94,646.0
65,Maret,2019-03-24 11:56:31,Orange_id,INSTAGRAM,carousel,413.0,10.0,ORGANIC,423,6014.0,10486.0,23.0,446,NaN
64,Maret,2019-03-21 17:45:47,Orange_id,INSTAGRAM,carousel,569.0,7.0,ORGANIC,576,7055.0,12336.0,70.0,646,NaN
63,Maret,2019-03-20 19:25:44,Orange_id,INSTAGRAM,carousel,680.0,9.0,ORGANIC,689,7418.0,15518.0,160.0,849,NaN
62,Maret,2019-03-20 16:04:35,Orange_id,INSTAGRAM,image,414.0,29.0,ORGANIC,443,8142.0,11554.0,26.0,469,NaN
61,Maret,2019-03-18 13:18:37,Orange_id,INSTAGRAM,carousel,354.0,3.0,ORGANIC,357,4635.0,8429.0,14.0,371,NaN
60,Maret,2019-03-17 22:31:16,Orange_id,INSTAGRAM,carousel,324.0,53.0,ORGANIC,377,5193.0,11070.0,13.0,390,NaN
59,Maret,2019-03-17 12:22:38,Orange_id,INSTAGRAM,carousel,194.0,1.0,ORGANIC,195,2796.0,5851.0,3.0,198,NaN
58,Maret,2019-03-15 15:26:08,Orange_id,INSTAGRAM,carousel,588.0,5.0,ORGANIC,593,7514.0,13055.0,19.0,612,NaN
57,Maret,2019-03-13 18:08:10,Orange_id,INSTAGRAM,video,151.0,5.0,ORGANIC,156,3913.0,5301.0,9.0,165,1256.0
56,Maret,2019-03-10 22:00:07,Orange_id,INSTAGRAM,image,570.0,115.0,PROMOTED,685,13506.0,20342.0,21.0,706,NaN
55,Maret,2019-03-10 12:37:47,Orange_id,INSTAGRAM,carousel,356.0,4.0,ORGANIC,360,4505.0,8626.0,7.0,367,NaN
54,Maret,2019-03-09 16:54:24,Orange_id,INSTAGRAM,carousel,257.0,1.0,ORGANIC,258,3847.0,7652.0,17.0,275,NaN
53,Maret,2019-03-08 19:31:45,Orange_id,INSTAGRAM,video,158.0,9.0,ORGANIC,167,4283.0,6024.0,4.0,171,1385.0
52,Maret,2019-03-08 14:33:16,Orange_id,INSTAGRAM,carousel,381.0,4.0,ORGANIC,385,6038.0,10831.0,48.0,433,NaN
51,Maret,2019-03-07 17:17:13,Orange_id,INSTAGRAM,carousel,135.0,0.0,ORGANIC,135,2573.0,5221.0,10.0,145,NaN
50,Maret,2019-03-06 17:44:35,Orange_id,INSTAGRAM,video,146.0,0.0,ORGANIC,146,3532.0,4617.0,10.0,156,1126.0
49,Maret,2019-03-05 14:58:41,Orange_id,INSTAGRAM,carousel,293.0,6.0,ORGANIC,299,4203.0,7361.0,1.0,300,NaN
48,Maret,2019-03-03 19:04:39,Orange_id,INSTAGRAM,carousel,287.0,2.0,ORGANIC,289,4597.0,8441.0,8.0,297,NaN
47,Maret,2019-03-03 18:57:22,Orange_id,INSTAGRAM,carousel,190.0,0.0,ORGANIC,190,3360.0,6038.0,2.0,192,NaN
46,Maret,2019-03-03 14:18:56,Orange_id,INSTAGRAM,carousel,194.0,1.0,ORGANIC,195,2942.0,5600.0,0.0,195,NaN
45,Maret,2019-03-03 14:00:49,Orange_id,INSTAGRAM,carousel,160.0,0.0,ORGANIC,160,2993.0,5295.0,4.0,164,NaN
44,Maret,2019-03-03 13:42:42,Orange_id,INSTAGRAM,carousel,250.0,0.0,ORGANIC,250,3648.0,6531.0,4.0,254,NaN
43,Maret,2019-03-03 12:43:33,Orange_id,INSTAGRAM,carousel,215.0,2.0,ORGANIC,217,2971.0,5774.0,2.0,219,NaN
42,Maret,2019-03-03 12:30:01,Orange_id,INSTAGRAM,video,231.0,4.0,ORGANIC,235,4734.0,6368.0,14.0,249,1839.0
41,Maret,2019-03-02 15:53:17,Orange_id,INSTAGRAM,carousel,376.0,4.0,ORGANIC,380,5414.0,9850.0,7.0,387,NaN
39,Maret,2019-03-02 10:51:00,Orange_id,INSTAGRAM,video,132.0,1.0,ORGANIC,133,4039.0,5399.0,1.0,134,1542.0
38,Maret,2019-03-01 19:02:21,Orange_id,INSTAGRAM,carousel,186.0,1.0,ORGANIC,187,3450.0,6803.0,3.0,190,NaN
37,Maret,2019-03-01 15:10:54,Orange_id,INSTAGRAM,video,138.0,14.0,ORGANIC,152,4053.0,5680.0,21.0,173,1187.0
36,Maret,2019-03-01 15:01:40,Orange_id,INSTAGRAM,video,121.0,6.0,ORGANIC,127,3140.0,4415.0,4.0,131,978.0
35,Maret,2019-03-01 09:42:15,Orange_id,INSTAGRAM,video,118.0,1.0,ORGANIC,119,3739.0,5216.0,2.0,121,1361.0

In [36]:
Jeruk[Jeruk["Labels"] == "PROMOTED"].sort_values(by="Insights - Reach",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
11,Januari,2019-01-20 14:05:38,Orange_id,INSTAGRAM,image,673.0,18.0,PROMOTED,691,14393.0,19364.0,231.0,922,NaN
56,Maret,2019-03-10 22:00:07,Orange_id,INSTAGRAM,image,570.0,115.0,PROMOTED,685,13506.0,20342.0,21.0,706,NaN
8,Januari,2019-01-16 14:25:55,Orange_id,INSTAGRAM,carousel,871.0,69.0,PROMOTED,940,12128.0,22266.0,308.0,1248,NaN
28,Februari,2019-02-19 15:01:11,Orange_id,INSTAGRAM,carousel,817.0,134.0,PROMOTED,951,11956.0,22460.0,100.0,1051,NaN
34,Februari,2019-02-28 17:33:36,Orange_id,INSTAGRAM,carousel,865.0,25.0,PROMOTED,890,11041.0,18824.0,37.0,927,NaN
16,Januari,2019-01-31 17:25:00,Orange_id,INSTAGRAM,carousel,1078.0,42.0,PROMOTED,1120,10051.0,17633.0,83.0,1203,NaN
69,Maret,2019-03-29 15:33:17,Orange_id,INSTAGRAM,carousel,945.0,26.0,PROMOTED,971,8289.0,16206.0,26.0,997,NaN
31,Februari,2019-02-23 12:55:32,Orange_id,INSTAGRAM,video,281.0,21.0,PROMOTED,302,6198.0,8203.0,34.0,336,2743.0

In [37]:
pd.DataFrame(Jeruk[Jeruk["Labels"] == "PROMOTED"].groupby("Content Type")["Insights - Reach"].mean().sort_values(ascending=False))

              Insights - Reach
Content Type
image                  13949.5
carousel               10693.0
video                   6198.0

In [38]:
Jeruk[Jeruk["Labels"] == "PROMOTED"].sort_values(by="Insights - Engagement",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
8,Januari,2019-01-16 14:25:55,Orange_id,INSTAGRAM,carousel,871.0,69.0,PROMOTED,940,12128.0,22266.0,308.0,1248,NaN
16,Januari,2019-01-31 17:25:00,Orange_id,INSTAGRAM,carousel,1078.0,42.0,PROMOTED,1120,10051.0,17633.0,83.0,1203,NaN
28,Februari,2019-02-19 15:01:11,Orange_id,INSTAGRAM,carousel,817.0,134.0,PROMOTED,951,11956.0,22460.0,100.0,1051,NaN
69,Maret,2019-03-29 15:33:17,Orange_id,INSTAGRAM,carousel,945.0,26.0,PROMOTED,971,8289.0,16206.0,26.0,997,NaN
34,Februari,2019-02-28 17:33:36,Orange_id,INSTAGRAM,carousel,865.0,25.0,PROMOTED,890,11041.0,18824.0,37.0,927,NaN
11,Januari,2019-01-20 14:05:38,Orange_id,INSTAGRAM,image,673.0,18.0,PROMOTED,691,14393.0,19364.0,231.0,922,NaN
56,Maret,2019-03-10 22:00:07,Orange_id,INSTAGRAM,image,570.0,115.0,PROMOTED,685,13506.0,20342.0,21.0,706,NaN
31,Februari,2019-02-23 12:55:32,Orange_id,INSTAGRAM,video,281.0,21.0,PROMOTED,302,6198.0,8203.0,34.0,336,2743.0

In [39]:
pd.DataFrame({"Reach vs Impressions (%)": (Jeruk[Jeruk["Labels"] == "PROMOTED"].groupby("Content Type")["Insights - Reach"].sum() / Jeruk[Jeruk["Labels"] == "PROMOTED"].groupby("Content Type")["Insights - Impressions"].sum()) * 100}).sort_values(by="Reach vs Impressions (%)", ascending=False)

              Reach vs Impressions (%)
Content Type
video                        75.557723
image                        70.263940
carousel                     54.898397

In [40]:
Jeruk[Jeruk["Labels"] == "ORGANIC"].sort_values(by="Insights - Saves",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
63,Maret,2019-03-20 19:25:44,Orange_id,INSTAGRAM,carousel,680.0,9.0,ORGANIC,689,7418.0,15518.0,160.0,849,NaN
4,Januari,2019-01-08 14:32:41,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,9156.0,15817.0,134.0,823,NaN
64,Maret,2019-03-21 17:45:47,Orange_id,INSTAGRAM,carousel,569.0,7.0,ORGANIC,576,7055.0,12336.0,70.0,646,NaN
7,Januari,2019-01-15 19:32:43,Orange_id,INSTAGRAM,carousel,317.0,5.0,ORGANIC,322,4010.0,7951.0,58.0,380,NaN
17,Februari,2019-02-03 14:45:21,Orange_id,INSTAGRAM,carousel,658.0,36.0,ORGANIC,694,6168.0,12460.0,51.0,745,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,Maret,2019-03-05 14:58:41,Orange_id,INSTAGRAM,carousel,293.0,6.0,ORGANIC,299,4203.0,7361.0,1.0,300,NaN
22,Februari,2019-02-10 15:34:53,Orange_id,INSTAGRAM,carousel,299.0,5.0,ORGANIC,304,3466.0,6558.0,1.0,305,NaN
39,Maret,2019-03-02 10:51:00,Orange_id,INSTAGRAM,video,132.0,1.0,ORGANIC,133,4039.0,5399.0,1.0,134,1542.0
68,Maret,2019-03-25 18:51:25,Orange_id,INSTAGRAM,image,119.0,1.0,ORGANIC,120,3345.0,4590.0,0.0,120,NaN
46,Maret,2019-03-03 14:18:56,Orange_id,INSTAGRAM,carousel,194.0,1.0,ORGANIC,195,2942.0,5600.0,0.0,195,NaN

In [41]:
Jeruk[Jeruk["Labels"] == "PROMOTED"].sort_values(by="Insights - Saves",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
8,Januari,2019-01-16 14:25:55,Orange_id,INSTAGRAM,carousel,871.0,69.0,PROMOTED,940,12128.0,22266.0,308.0,1248,NaN
11,Januari,2019-01-20 14:05:38,Orange_id,INSTAGRAM,image,673.0,18.0,PROMOTED,691,14393.0,19364.0,231.0,922,NaN
28,Februari,2019-02-19 15:01:11,Orange_id,INSTAGRAM,carousel,817.0,134.0,PROMOTED,951,11956.0,22460.0,100.0,1051,NaN
16,Januari,2019-01-31 17:25:00,Orange_id,INSTAGRAM,carousel,1078.0,42.0,PROMOTED,1120,10051.0,17633.0,83.0,1203,NaN
34,Februari,2019-02-28 17:33:36,Orange_id,INSTAGRAM,carousel,865.0,25.0,PROMOTED,890,11041.0,18824.0,37.0,927,NaN
31,Februari,2019-02-23 12:55:32,Orange_id,INSTAGRAM,video,281.0,21.0,PROMOTED,302,6198.0,8203.0,34.0,336,2743.0
69,Maret,2019-03-29 15:33:17,Orange_id,INSTAGRAM,carousel,945.0,26.0,PROMOTED,971,8289.0,16206.0,26.0,997,NaN
56,Maret,2019-03-10 22:00:07,Orange_id,INSTAGRAM,image,570.0,115.0,PROMOTED,685,13506.0,20342.0,21.0,706,NaN

In [42]:
Jeruk[Jeruk["Labels"] == "PROMOTED"].sort_values(by="Insights - Engagement",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
8,Januari,2019-01-16 14:25:55,Orange_id,INSTAGRAM,carousel,871.0,69.0,PROMOTED,940,12128.0,22266.0,308.0,1248,NaN
16,Januari,2019-01-31 17:25:00,Orange_id,INSTAGRAM,carousel,1078.0,42.0,PROMOTED,1120,10051.0,17633.0,83.0,1203,NaN
28,Februari,2019-02-19 15:01:11,Orange_id,INSTAGRAM,carousel,817.0,134.0,PROMOTED,951,11956.0,22460.0,100.0,1051,NaN
69,Maret,2019-03-29 15:33:17,Orange_id,INSTAGRAM,carousel,945.0,26.0,PROMOTED,971,8289.0,16206.0,26.0,997,NaN
34,Februari,2019-02-28 17:33:36,Orange_id,INSTAGRAM,carousel,865.0,25.0,PROMOTED,890,11041.0,18824.0,37.0,927,NaN
11,Januari,2019-01-20 14:05:38,Orange_id,INSTAGRAM,image,673.0,18.0,PROMOTED,691,14393.0,19364.0,231.0,922,NaN
56,Maret,2019-03-10 22:00:07,Orange_id,INSTAGRAM,image,570.0,115.0,PROMOTED,685,13506.0,20342.0,21.0,706,NaN
31,Februari,2019-02-23 12:55:32,Orange_id,INSTAGRAM,video,281.0,21.0,PROMOTED,302,6198.0,8203.0,34.0,336,2743.0

In [43]:
pd.DataFrame({"Saves Percentage (%)": (Jeruk.groupby("Content Type")["Insights - Saves"].sum()/Jeruk.groupby("Content Type")["Insights - Engagement"].sum()) *100}).sort_values(by="Saves Percentage (%)",ascending=False)

              Saves Percentage (%)
Content Type
image                    11.842105
carousel                  6.749736
video                     5.037638

# ***STRAWBERRY***

In [44]:
pd.DataFrame({"Engagement Mean" : Berry.groupby("Content Type")["Insights - Engagement"].mean().sort_values(ascending=False)})

              Engagement Mean
Content Type
image              1330.29375
carousel           1015.25000
video               572.80000

In [45]:
pd.DataFrame({"Reach Mean" : Berry.groupby("Content Type")["Insights - Reach"].mean().sort_values(ascending=False)})

               Reach Mean
Content Type
image         18736.86875
video         11015.25000
carousel      10494.43750

In [46]:
pd.DataFrame({"Percentage Engagement (%)": (Berry.groupby("Content Type")["Insights - Engagement"].sum() / Berry["Insights - Engagement"].sum()) * 100}).sort_values(by="Percentage Engagement (%)", ascending=False)

              Percentage Engagement (%)
Content Type
image                         91.576638
video                          4.928902
carousel                       3.494461

In [47]:
pd.DataFrame({"Percentage Reach (%)": (Berry.groupby("Content Type")["Insights - Reach"].sum() / Berry["Insights - Reach"].sum()) * 100}).sort_values(by="Percentage Reach (%)", ascending=False)

              Percentage Reach (%)
Content Type
image                    90.786014
video                     6.671543
carousel                  2.542442

In [48]:
pd.DataFrame(Berry.groupby("Content Type")["Insights - Engagement"].sum().sort_values(ascending=False))

              Insights - Engagement
Content Type
image                        425694
video                         22912
carousel                      16244

In [49]:
pd.DataFrame(Berry.groupby("Content Type")["Insights - Reach"].sum().sort_values(ascending=False))

              Insights - Reach
Content Type
image                5995798.0
video                 440610.0
carousel              167911.0

In [50]:
pd.DataFrame(Berry.value_counts("Content Type").sort_values(ascending=False))

              count
Content Type
image           320
video            40
carousel         16

In [51]:
Berry[Berry["Labels"] == "ORGANIC"].sort_values(by="Insights - Engagement",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
336,Maret,2019-03-06 18:07:42,Strawberry Spot,INSTAGRAM,image,2379.0,1242.0,ORGANIC,3621,36038.0,51024.0,11.0,4539,NaN
203,Januari,2019-01-31 19:00:17,Strawberry Spot,INSTAGRAM,image,3944.0,124.0,ORGANIC,4068,55599.0,70016.0,136.0,4204,NaN
436,Maret,2019-03-28 16:40:40,Strawberry Spot,INSTAGRAM,image,3571.0,327.0,ORGANIC,3898,34678.0,49826.0,10.0,4107,NaN
231,Februari,2019-02-07 16:09:17,Strawberry Spot,INSTAGRAM,image,4007.0,52.0,ORGANIC,4059,36614.0,49909.0,16.0,4075,NaN
311,Februari,2019-02-28 16:00:41,Strawberry Spot,INSTAGRAM,image,2480.0,922.0,ORGANIC,3402,35438.0,48949.0,23.0,4046,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,Maret,2019-03-21 18:51:19,Strawberry Spot,INSTAGRAM,video,258.0,2.0,ORGANIC,260,6029.0,8665.0,2.0,262,1424.0
234,Februari,2019-02-08 14:15:37,Strawberry Spot,INSTAGRAM,video,250.0,0.0,ORGANIC,250,6134.0,9075.0,0.0,259,1202.0
360,Maret,2019-03-12 16:12:24,Strawberry Spot,INSTAGRAM,video,221.0,0.0,ORGANIC,221,5607.0,8438.0,7.0,228,1119.0
442,Maret,2019-03-29 16:00:42,Strawberry Spot,INSTAGRAM,video,212.0,0.0,ORGANIC,212,5351.0,7943.0,2.0,214,1190.0
126,Januari,2019-01-12 19:46:30,Strawberry Spot,INSTAGRAM,video,162.0,2.0,ORGANIC,164,1641.0,2434.0,2.0,166,592.0

In [52]:
Berry[Berry["Labels"] == "ORGANIC"].sort_values(by="Insights - Reach",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
203,Januari,2019-01-31 19:00:17,Strawberry Spot,INSTAGRAM,image,3944.0,124.0,ORGANIC,4068,55599.0,70016.0,136.0,4204,NaN
280,Februari,2019-02-19 11:03:04,Strawberry Spot,INSTAGRAM,video,2028.0,7.0,ORGANIC,2035,48642.0,58867.0,42.0,2077,24989.0
199,Januari,2019-01-30 19:00:32,Strawberry Spot,INSTAGRAM,image,3580.0,95.0,ORGANIC,3675,45873.0,58680.0,47.0,3722,NaN
210,Februari,2019-02-02 18:00:37,Strawberry Spot,INSTAGRAM,image,3116.0,440.0,ORGANIC,3556,45307.0,61443.0,35.0,3591,NaN
278,Februari,2019-02-18 16:45:04,Strawberry Spot,INSTAGRAM,image,3485.0,142.0,ORGANIC,3627,44922.0,57116.0,30.0,3657,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,Maret,2019-03-28 18:58:22,Strawberry Spot,INSTAGRAM,carousel,337.0,0.0,ORGANIC,337,5803.0,13083.0,2.0,339,NaN
388,Maret,2019-03-19 18:00:47,Strawberry Spot,INSTAGRAM,image,348.0,4.0,ORGANIC,352,5621.0,7709.0,2.0,354,NaN
360,Maret,2019-03-12 16:12:24,Strawberry Spot,INSTAGRAM,video,221.0,0.0,ORGANIC,221,5607.0,8438.0,7.0,228,1119.0
442,Maret,2019-03-29 16:00:42,Strawberry Spot,INSTAGRAM,video,212.0,0.0,ORGANIC,212,5351.0,7943.0,2.0,214,1190.0
126,Januari,2019-01-12 19:46:30,Strawberry Spot,INSTAGRAM,video,162.0,2.0,ORGANIC,164,1641.0,2434.0,2.0,166,592.0

In [53]:
Berry[Berry["Month"] == "Januari"].sort_values(by="Date",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
203,Januari,2019-01-31 19:00:17,Strawberry Spot,INSTAGRAM,image,3944.0,124.0,ORGANIC,4068,55599.0,70016.0,136.0,4204,NaN
202,Januari,2019-01-31 18:02:06,Strawberry Spot,INSTAGRAM,carousel,1259.0,70.0,ORGANIC,1329,19938.0,32086.0,5.0,1334,NaN
201,Januari,2019-01-31 15:15:06,Strawberry Spot,INSTAGRAM,image,856.0,8.0,ORGANIC,864,15071.0,19796.0,2.0,866,NaN
200,Januari,2019-01-31 13:12:58,Strawberry Spot,INSTAGRAM,image,1239.0,12.0,ORGANIC,1251,15611.0,20870.0,4.0,1255,NaN
199,Januari,2019-01-30 19:00:32,Strawberry Spot,INSTAGRAM,image,3580.0,95.0,ORGANIC,3675,45873.0,58680.0,47.0,3722,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Januari,2019-01-01 18:00:44,Strawberry Spot,INSTAGRAM,image,617.0,11.0,ORGANIC,628,15030.0,20124.0,2.0,630,NaN
78,Januari,2019-01-01 16:00:01,Strawberry Spot,INSTAGRAM,image,1607.0,15.0,ORGANIC,1622,23096.0,29018.0,6.0,1628,NaN
77,Januari,2019-01-01 14:00:32,Strawberry Spot,INSTAGRAM,image,805.0,3.0,ORGANIC,808,15426.0,20054.0,2.0,810,NaN
76,Januari,2019-01-01 12:30:38,Strawberry Spot,INSTAGRAM,image,661.0,1.0,ORGANIC,662,13401.0,17702.0,4.0,666,NaN
75,Januari,2019-01-01 10:30:10,Strawberry Spot,INSTAGRAM,image,385.0,1.0,ORGANIC,386,10003.0,13060.0,1.0,387,NaN

In [54]:
Berry[Berry["Month"] == "Februari"].sort_values(by="Date",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
312,Februari,2019-02-28 18:00:17,Strawberry Spot,INSTAGRAM,image,911.0,8.0,ORGANIC,919,14783.0,19887.0,9.0,928,NaN
311,Februari,2019-02-28 16:00:41,Strawberry Spot,INSTAGRAM,image,2480.0,922.0,ORGANIC,3402,35438.0,48949.0,23.0,4046,NaN
310,Februari,2019-02-28 14:22:42,Strawberry Spot,INSTAGRAM,image,767.0,8.0,ORGANIC,775,13214.0,18432.0,5.0,780,NaN
309,Februari,2019-02-28 12:00:20,Strawberry Spot,INSTAGRAM,image,476.0,3.0,ORGANIC,479,8779.0,12675.0,5.0,484,NaN
308,Februari,2019-02-27 18:00:02,Strawberry Spot,INSTAGRAM,image,1235.0,75.0,ORGANIC,1310,19516.0,27077.0,5.0,1315,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Februari,2019-02-02 13:00:48,Strawberry Spot,INSTAGRAM,image,715.0,11.0,ORGANIC,726,12841.0,16857.0,7.0,733,NaN
207,Februari,2019-02-01 19:30:22,Strawberry Spot,INSTAGRAM,image,2036.0,21.0,ORGANIC,2057,30320.0,37962.0,17.0,2074,NaN
206,Februari,2019-02-01 19:00:22,Strawberry Spot,INSTAGRAM,image,486.0,2.0,ORGANIC,488,11221.0,14874.0,3.0,491,NaN
205,Februari,2019-02-01 14:49:28,Strawberry Spot,INSTAGRAM,video,928.0,3.0,ORGANIC,931,14721.0,18595.0,14.0,945,6701.0
204,Februari,2019-02-01 13:58:06,Strawberry Spot,INSTAGRAM,image,679.0,3.0,ORGANIC,682,11450.0,15451.0,9.0,691,NaN

In [55]:
Berry[Berry["Month"] == "Maret"].sort_values(by="Date",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
453,Maret,2019-03-31 18:08:15,Strawberry Spot,INSTAGRAM,image,1822.0,258.0,ORGANIC,2080,28525.0,40591.0,6.0,2086,NaN
452,Maret,2019-03-31 15:29:06,Strawberry Spot,INSTAGRAM,image,1338.0,8.0,ORGANIC,1346,22875.0,32000.0,121.0,1467,NaN
451,Maret,2019-03-31 12:48:52,Strawberry Spot,INSTAGRAM,video,382.0,2.0,ORGANIC,384,8316.0,11732.0,12.0,396,2277.0
450,Maret,2019-03-30 23:14:09,Strawberry Spot,INSTAGRAM,carousel,1228.0,7.0,ORGANIC,1235,10939.0,22935.0,4.0,1239,NaN
449,Maret,2019-03-30 22:54:42,Strawberry Spot,INSTAGRAM,carousel,724.0,0.0,ORGANIC,724,7376.0,15795.0,0.0,724,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,Maret,2019-03-02 12:08:28,Strawberry Spot,INSTAGRAM,image,542.0,3.0,ORGANIC,545,10686.0,14090.0,3.0,548,NaN
316,Maret,2019-03-01 18:05:16,Strawberry Spot,INSTAGRAM,image,2313.0,53.0,ORGANIC,2366,30061.0,39781.0,15.0,2381,NaN
315,Maret,2019-03-01 15:59:30,Strawberry Spot,INSTAGRAM,image,1173.0,45.0,ORGANIC,1218,17507.0,23568.0,0.0,1218,NaN
314,Maret,2019-03-01 14:36:18,Strawberry Spot,INSTAGRAM,image,1021.0,13.0,ORGANIC,1034,15650.0,20730.0,8.0,1042,NaN
313,Maret,2019-03-01 13:35:16,Strawberry Spot,INSTAGRAM,image,2328.0,15.0,ORGANIC,2343,28367.0,36885.0,28.0,2371,NaN

In [56]:
Berry[Berry["Labels"] == "PROMOTED"].sort_values(by="Insights - Reach",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
217,Februari,2019-02-04 10:50:29,Strawberry Spot,INSTAGRAM,image,12474.0,553.0,PROMOTED,13027,92165.0,129107.0,55.0,13081,NaN
195,Januari,2019-01-29 19:00:10,Strawberry Spot,INSTAGRAM,image,4089.0,37.0,PROMOTED,4126,64384.0,78107.0,112.0,4238,NaN
174,Januari,2019-01-24 19:30:01,Strawberry Spot,INSTAGRAM,image,4590.0,309.0,PROMOTED,4899,59950.0,77173.0,55.0,4954,NaN
389,Maret,2019-03-19 19:17:43,Strawberry Spot,INSTAGRAM,image,5862.0,234.0,PROMOTED,6096,59230.0,84651.0,74.0,6194,NaN
119,Januari,2019-01-11 15:01:03,Strawberry Spot,INSTAGRAM,image,4249.0,474.0,PROMOTED,4723,53890.0,72425.0,31.0,4754,NaN
415,Maret,2019-03-24 18:00:02,Strawberry Spot,INSTAGRAM,image,7056.0,313.0,PROMOTED,7369,49640.0,79466.0,121.0,7639,NaN

In [57]:
pd.DataFrame(Berry[Berry["Labels"] == "PROMOTED"].groupby("Content Type")["Insights - Reach"].mean().sort_values(ascending=False))

              Insights - Reach
Content Type
image             63209.833333

In [58]:
Berry[Berry["Labels"] == "PROMOTED"].sort_values(by="Insights - Engagement",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
217,Februari,2019-02-04 10:50:29,Strawberry Spot,INSTAGRAM,image,12474.0,553.0,PROMOTED,13027,92165.0,129107.0,55.0,13081,NaN
415,Maret,2019-03-24 18:00:02,Strawberry Spot,INSTAGRAM,image,7056.0,313.0,PROMOTED,7369,49640.0,79466.0,121.0,7639,NaN
389,Maret,2019-03-19 19:17:43,Strawberry Spot,INSTAGRAM,image,5862.0,234.0,PROMOTED,6096,59230.0,84651.0,74.0,6194,NaN
174,Januari,2019-01-24 19:30:01,Strawberry Spot,INSTAGRAM,image,4590.0,309.0,PROMOTED,4899,59950.0,77173.0,55.0,4954,NaN
119,Januari,2019-01-11 15:01:03,Strawberry Spot,INSTAGRAM,image,4249.0,474.0,PROMOTED,4723,53890.0,72425.0,31.0,4754,NaN
195,Januari,2019-01-29 19:00:10,Strawberry Spot,INSTAGRAM,image,4089.0,37.0,PROMOTED,4126,64384.0,78107.0,112.0,4238,NaN

In [59]:
pd.DataFrame({"Reach vs Impressions (%)": (Berry[Berry["Labels"] == "PROMOTED"].groupby("Content Type")["Insights - Reach"].sum() / Berry[Berry["Labels"] == "PROMOTED"].groupby("Content Type")["Insights - Impressions"].sum()) * 100}).sort_values(by="Reach vs Impressions (%)", ascending=False)

              Reach vs Impressions (%)
Content Type
image                        72.804355

In [60]:
Berry[Berry["Labels"] == "ORGANIC"].sort_values(by="Insights - Saves",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
420,Maret,2019-03-25 19:11:48,Strawberry Spot,INSTAGRAM,video,1819.0,75.0,ORGANIC,1894,35517.0,48558.0,142.0,2036,18470.0
203,Januari,2019-01-31 19:00:17,Strawberry Spot,INSTAGRAM,image,3944.0,124.0,ORGANIC,4068,55599.0,70016.0,136.0,4204,NaN
452,Maret,2019-03-31 15:29:06,Strawberry Spot,INSTAGRAM,image,1338.0,8.0,ORGANIC,1346,22875.0,32000.0,121.0,1467,NaN
287,Februari,2019-02-20 18:00:30,Strawberry Spot,INSTAGRAM,image,2139.0,60.0,ORGANIC,2199,30336.0,38692.0,76.0,2275,NaN
177,Januari,2019-01-25 15:58:24,Strawberry Spot,INSTAGRAM,carousel,2950.0,154.0,ORGANIC,3104,29309.0,50585.0,68.0,3172,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Maret,2019-03-20 20:48:00,Strawberry Spot,INSTAGRAM,image,804.0,11.0,ORGANIC,815,13055.0,18236.0,0.0,815,NaN
401,Maret,2019-03-22 11:00:34,Strawberry Spot,INSTAGRAM,image,380.0,0.0,ORGANIC,380,9871.0,13543.0,0.0,380,NaN
402,Maret,2019-03-22 13:34:17,Strawberry Spot,INSTAGRAM,image,270.0,0.0,ORGANIC,270,8043.0,11021.0,0.0,270,NaN
403,Maret,2019-03-22 13:34:31,Strawberry Spot,INSTAGRAM,image,440.0,0.0,ORGANIC,440,9936.0,13271.0,0.0,440,NaN
258,Februari,2019-02-13 18:01:03,Strawberry Spot,INSTAGRAM,image,878.0,74.0,ORGANIC,952,16278.0,22253.0,0.0,952,NaN

In [61]:
Berry[Berry["Labels"] == "PROMOTED"].sort_values(by="Insights - Saves",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
415,Maret,2019-03-24 18:00:02,Strawberry Spot,INSTAGRAM,image,7056.0,313.0,PROMOTED,7369,49640.0,79466.0,121.0,7639,NaN
195,Januari,2019-01-29 19:00:10,Strawberry Spot,INSTAGRAM,image,4089.0,37.0,PROMOTED,4126,64384.0,78107.0,112.0,4238,NaN
389,Maret,2019-03-19 19:17:43,Strawberry Spot,INSTAGRAM,image,5862.0,234.0,PROMOTED,6096,59230.0,84651.0,74.0,6194,NaN
174,Januari,2019-01-24 19:30:01,Strawberry Spot,INSTAGRAM,image,4590.0,309.0,PROMOTED,4899,59950.0,77173.0,55.0,4954,NaN
217,Februari,2019-02-04 10:50:29,Strawberry Spot,INSTAGRAM,image,12474.0,553.0,PROMOTED,13027,92165.0,129107.0,55.0,13081,NaN
119,Januari,2019-01-11 15:01:03,Strawberry Spot,INSTAGRAM,image,4249.0,474.0,PROMOTED,4723,53890.0,72425.0,31.0,4754,NaN

In [62]:
Berry[Berry["Labels"] == "PROMOTED"].sort_values(by="Insights - Engagement",ascending=False)

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
217,Februari,2019-02-04 10:50:29,Strawberry Spot,INSTAGRAM,image,12474.0,553.0,PROMOTED,13027,92165.0,129107.0,55.0,13081,NaN
415,Maret,2019-03-24 18:00:02,Strawberry Spot,INSTAGRAM,image,7056.0,313.0,PROMOTED,7369,49640.0,79466.0,121.0,7639,NaN
389,Maret,2019-03-19 19:17:43,Strawberry Spot,INSTAGRAM,image,5862.0,234.0,PROMOTED,6096,59230.0,84651.0,74.0,6194,NaN
174,Januari,2019-01-24 19:30:01,Strawberry Spot,INSTAGRAM,image,4590.0,309.0,PROMOTED,4899,59950.0,77173.0,55.0,4954,NaN
119,Januari,2019-01-11 15:01:03,Strawberry Spot,INSTAGRAM,image,4249.0,474.0,PROMOTED,4723,53890.0,72425.0,31.0,4754,NaN
195,Januari,2019-01-29 19:00:10,Strawberry Spot,INSTAGRAM,image,4089.0,37.0,PROMOTED,4126,64384.0,78107.0,112.0,4238,NaN

In [63]:
pd.DataFrame({"Saves Percentage (%)": (Berry.groupby("Content Type")["Insights - Saves"].sum()/Berry.groupby("Content Type")["Insights - Engagement"].sum()) *100}).sort_values(by="Saves Percentage (%)",ascending=False)

              Saves Percentage (%)
Content Type
video                     2.020775
image                     0.857423
carousel                  0.652549

In [64]:

Berry['Date'] = pd.to_datetime(Berry['Date'])
Berry['Hour'] = Berry['Date'].dt.hour

bins = [0, 2, 4, 6, 8, 10, 13, 19, 21, 24]

Berry['Time Slot'] = pd.cut(Berry['Hour'], bins=bins[:-1], labels=['22:00-00:00', '00:00-02:00', '02:00-04:00', '04:00-06:00',
                                                              '06:00-08:00', '11:00-13:00', '19:00-21:00', '21:00-22:00'], right=False)

result_df = Berry.groupby('Time Slot')[['Insights - Reach', 'Insights - Impressions']].mean().round(2)

pd.DataFrame(result_df)

C:\Users\faris\AppData\Local\Temp\ipykernel_32104\2670701888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Berry['Date'] = pd.to_datetime(Berry['Date'])
C:\Users\faris\AppData\Local\Temp\ipykernel_32104\2670701888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Berry['Hour'] = Berry['Date'].dt.hour
C:\Users\faris\AppData\Local\Temp\ipykernel_32104\2670701888.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Berry['Time Slot'] = pd.cut(Berry['Hour'], bins=bins[:-1], labels=['22:00-00:00', '00:00-02:00', '02:00-04:00', '04:00-06:00',
C:\Users\faris\AppData\Local\Temp\ipykernel_32104\2670701888.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result_df = Berry.groupby('Time Slot')[['Insights - Reach', 'Insights - Impressions']].mean().round(2)

             Insights - Reach  Insights - Impressions
Time Slot
22:00-00:00          12568.00                18250.00
00:00-02:00               NaN                     NaN
02:00-04:00               NaN                     NaN
04:00-06:00               NaN                     NaN
06:00-08:00           9627.00                16112.33
11:00-13:00          16425.04                22245.06
19:00-21:00          17667.71                23687.32
21:00-22:00          19535.37                26132.82